* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFE3FC;
    font-family: 'Arial', sans-serif; 
}

header {
    color: #FF00E5;
    font-size: 60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center; 
    padding: 20px 0; 
}

main {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100px; 
}

.pesquisa {
    text-align: center; 
}

.pesquisa input[type="text"] {
    background-color: #FF9AF5; 
    color: #FF00E5; 
    font-size: 30px;
    padding: 10px; 
    border: 2px solid #FF00E5; 
    border-radius: 8px; 
    width: 600px; 
    margin: 0 auto; 
}
