* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
background-image: url(./img/image\ 2.png);
background-color: #FF00E5;
background-repeat: no-repeat;
   background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
header {
    color: #FF00E5;
    font-size: 40px;
    margin-top: 20px;
    position: absolute; 
    top: 0;
    left: 50%; 
    transform: translateX(-50%); 
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.items {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    color: #FF00E5;
    font-size: 40px;
    margin-top: 20px;
    padding: 50px;
    border: 2px solid #FF00E5;
    border-radius: 10px;;
    position: relative; 
}

.items input[type="text"],
.items input[type="password"],
.items button {
    width: 300px;
    padding: 10px;
    font-size: 24px;
    margin-bottom: 10px;
    border: 2px solid #FF00E5;
    border-radius: 8px;
    text-align: center;
   
}
.items button{
    background-color: #FF61EF;
    color: aliceblue;
    cursor: pointer;
}





label {
    color: #FF61EF;
    font-size: 20px;
  
}
